// 主题颜色
// $accentColor = #3178c6

// 暗黑模式背景颜色、字体颜色
.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #ecececcc;
}

// 标题作者时间
//.page .page-title {
//   display: none;
//}

.sw-update-popup>button {
  cursor: pointer;
}
